body {
	background-color: #181818 !important;
}

#indexIntro, #aboutSection {
	color: #fff;
	text-align: center;
}

#btnToGlobal, #btnToReg {
	width: 80%;
}

#btnToReg {
	border-radius: 0px;
	background-color : #2A2B3A;
	border: 1px solid #2A2B3A;
}

#btnToGlobal {
	border-radius: 0px;
	background-color : #6ECD55;
	border: 1px solid #6ECD55;
}

#banner {
	text-align: right;
	margin-right: 5%;
	margin-top: 2%;
}

#apiH1, #healthH1 {
	font-size: 50px;
	display: inline;
}

#apiH1 {
	color: #9D9D9D;
}

#healthH1 {
	color: #6ECD55;
}

#navBar {
	border-radius: 0px !important;
}

#apiTable, #urlTable, #resultsTable {
	background-color: #0C0A0A;
	border: 2px solid #000;
	color: #FFF;
}

#urlTable, #resultsTable {
	margin-top: 10px;
	width: 100%;
}

#urlTable tbody tr, #resultsTable tbody tr {
	border-top: 1px #FFF solid;
}

#urlTable tbody tr td, #resultsTable tbody tr td {
	padding-top: 1%;
}

#urlTable thead td {
	text-align: center;
}

#apiTable thead td, #urlTable thead td, #resultsTable thead td {
	font-size: 20px;
	font-weight: bold;
}

#healthHeart {
	color: #6ECD55;
}

#apiName {
	text-align: center;
}

#logForm, #regForm {
	border-radius: 3px;
	background-color: #9D9D9D;
}

#loginBtn, #registerBtn {
	margin-bottom: 5%;
}

#submitContact {
	margin-bottom: 1%;
	margin-top: 1%;
}

#addModal {
	color: black;
}

#urlAddTable {
	margin-left: 1%;
}

.displayAPIName {
	color: #fff;
}

.loginInputs, .regInputs {
	margin-bottom: 1%;
}

.detailsContainers {
	background-color: rgb(8, 8, 8);
	border: 1px solid rgb(34, 34, 34);
}

.hovering {
	background-color: #000;
	cursor: pointer;
}

.hideRow {
	display: none;
}

.detailsText {
	font-weight: bold;
	font-size: 25px;
}

.detailRow {
	text-align: center;
}

.moreDetails {
	margin-top: 90%;
}

.apiUnstable {
	color: #FEED01;
}

.apiHealthy {
	color: #6ECD55;
}

.apiDown {
	color: #F7464A;
}

.navLogin {
	font-weight: bold;
	background-color: rgba(55, 56, 94, 0.4);
}

.tablePieData {
	border-left: 1px solid rgb(34, 34, 34);
	border-right: 1px solid rgb(34, 34, 34);
}

.chevrons {
	margin-right: 2%;
}

.codeRed {
	color: #F7464A;
}

.codeGreen {
	color: #6ECD55;
}